.mindfulness-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mindfulness-title {
  color: darkcyan;
  font-size: 24px;
  margin-bottom: 10px;
}

.mindfulness-description {
  color: #808187;
  margin-bottom: 40px;
}

.mindful-exercise {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  background-color: rgba(173, 216, 230, 0.3);
}

.exercises {
  color: #020087;
  font-size: 20px;
  margin-bottom: 10px;
}

.mindful-text {
  font-size: 16px;
  font-weight: 600;
}

.mustard-accent {
  color: ffc107;
}
