.visual-journal-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.visual-journal-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.visual-entry-button {
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

.visual-entry-image {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
  border-radius: 5px;
}
